<% content_for :body_class, 'strawberries' %>

<h1>Farmers Markets, USA</h1>
<h3>Are you a market or a vendor? Choose below:</h3>
<p>
  <%= link_to "I'm a market", markets_path %>
</p>
<p>
  <%= link_to "I'm a vendor", vendors_path %>
</p>

<h1>Farmers Markets</h1>
<table class="table">
  <% @markets.each do |market| %>
    <tr>
      <td>
        <%= link_to "#{market.name}", home_market_path(market) %>
      </td>
      <td>
        <%= market.city %>, <%= market.state %>
      </td>
   </tr>
   <% end %>
</table>
