<% content_for :header_class, 'cows' %>
<%= content_for :header do %>
  <div>
    <%= image_tag "cows.jpg", class:"cows" %>
  </div>
<% end %>

<h1 class= "title_page">Farmers Markets, USA</h1>
<h3>Are you a market or a vendor? Choose below:</h3>
<p>
  <%= link_to "I'm a market", markets_path %>
</p>
<p>
  <%= link_to "I'm a vendor", vendors_path %>
</p>

<h1>Farmers Markets</h1>
<table class="table">
  <% @markets.each do |market| %>
    <tr>
      <td>
        <%= link_to "#{market.name}", home_market_path(market) %>
      </td>
      <td>
        <%= market.city %>, <%= market.state %>
      </td>
   </tr>
   <% end %>
</table>
