<h1>Add a New Vendor</h1>

<%= form_for @vendor, url: @action do |f| %>
<%= binding.pry %>
<legend> New Vendor </legend>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :num_employees %>
<%= f.text_field :num_employees %><br>

<%= f.submit class: "submit" %>
<% end %>
