<section>
  <%= form_for @market_vendor, url: @url_path do |f| %>
    <fieldset>
      <legend>Vendor</legend>
      <div>
        <%= f.label :name, "Vendor name: "%>
        <%= f.text_field :name %><br />
      </div>

      <div>
        <%= f.label :num_employees, "Number of employees: " %>
        <%= f.text_field :num_employees %><br />
      </div>

      <div>
        <%= f.submit "#{button_text}" %>
      </div>
    </fieldset>
  <% end %>

  <nav>
    <%= link_to "Back to Market", market_path(@market.id) %>
  </nav>
</section>
