<h1>Add a Vendor</h1>

<section>
  <%= form_for @vendor do |f| %>
    <fieldset>
      <legend>Create a New Vendor</legend>
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.label :no_of_employees %>
      <%= f.text_field :no_of_employees %>
      <%= f.hidden_field :market_id, :value => params[:market_id] %>
      <br>
      <%= f.submit %>
    </fieldset>
  <% end %>
</section>
