<div class="center">
  <%= form_for @vendor, url: { action: @action } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true%>
    <%= f.label :employees %>
    <%= f.number_field :employees %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
