<h1><%= @vendor.name %></h1>

<h2>Products</h2>

<%= params[:id] %>

<table>
  <% @vendor.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= button_to 'Edit', edit_vendor_product_path(vendor_id: product.vendor_id, id: product.id ), method: :get %></td>
      <td><%= button_to 'Delete', product_path(id: product.id), method: :delete %></td>
      <td><%= button_to 'Add sale', new_product_sale_path(product_id: product.id), method: :get %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add new product", new_vendor_product_path(vendor_id: params[:id]) %>

<h2>Sales</h2>

<table>
  <% total_sales = 0 %>
  <% @vendor.products.each do |product| %>
    <% product.sales.each do |sale| %>
      <% total_sales += sale.amount %>
      <tr>
        <td>$<%= p '%.2f' % (sale.amount/100.0) %></td><td><%= sale.purchase_time.strftime("%D") %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td>Total: $<%= p '%.2f' % (total_sales/100.0) %></td>
  </tr>
</table>

<h2>Current Month Sales</h2>

<table>
  <% total_sales = 0 %>
  <% @vendor.products.each do |product| %>
    <% product.sales.each do |sale| %>
      <% if sale.purchase_time.month == Time.now.month && sale.purchase_time.year == Time.now.year %>
        <% total_sales += sale.amount %>
        <tr>
          <td>$<%= p '%.2f' % (sale.amount/100.0) %></td><td><%= sale.purchase_time.strftime("%D") %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <tr>
    <td>Total: $<%= p '%.2f' % (total_sales/100.0) %></td>
  </tr>
</table>
