<h1><%= @vendor.name %></h1>

<p>Number of Employees: <%= @vendor.employees %></p>
<p>Market: <%= @vendor.market.name %></p>

<p>Products:</p>
<ul>
  <% @vendor.products.each do |product| %>
  <li><%= product.name %> | COMING SOON: Edit | Delete | Create Sale</li>
  <% end %>
</ul>
<p>COMING SOON: link_to Add A Product</p>

<p>Sales:</p>
<ul>
  <% @vendor.sales.each do |sale| %>
  <li>Date: <%= sale.purchase_time%>
    <br>Amount: $<%= sale.amount.to_f/100 %></li>
  <% end %>
</ul>

<p>Total Sales: $<%= @vendor.sales.sum(:amount).to_f/100 %></p>


<p>COMING SOON: Current Month Sales & Totals</p>
