<div class="pretend-nav">
  <div class="nav-position">
  <%= link_to "CREATE PRODUCT", new_vendor_product_path(@vendor) unless @market_view %>
  <%= link_to "EDIT", edit_vendor_path(@vendor) %>
  <%= link_to "DELETE VENDOR", , method: :delete, onclick: "return confirm('Are you sure?')" %>
  </div>
</div>

<div class="center">
  <h1><%= @vendor.name %></h1>

  <h2>Products</h2>
  <% @vendor.products.each do |product| %>
  <div>
    <%= link_to product.name, vendor_product_path(@vendor, product) %>
  </div>
    <% product.sales.each do |sale| %>
      <div>
        <%="$" + sale.amount.to_s %>
      </div>
    <% end %>
  <% end %>
  <h3>Total sales: $<%= @vendor.total_sales %> </h3>

  <h2>Monthly Sales</h2>
  <% @vendor.monthly_sales.each do |sale| %>
    <div>
      <%="$" + sale.amount.to_s %>
    </div>
  <% end %>

  <h3>Total monthly sales: $<%= @vendor.total_monthly %> </h3>

</div>
