<h1><%= @vendor.name %></h1>
<br>
<h2><%= @vendor.name %> has <%= @vendor.num_employees%> employees and is located at <%= @vendor.market.name %></h2>
<%= link_to "Create new Product!", new_vendor_product_path(@vendor.id) %>
<br>
<h2><%= @vendor.name %> sells: </h2>
<table>
  <% @products.each do |product| %>
    <tr>
      <td>
        <h3><%= product.name %></h3>
      </td>
      <td>
        <%= button_to "Edit", edit_vendor_product_path(vendor_id: product.vendor_id, id: product.id), method: :get %>
      </td>
      <td>
        <%= button_to "Delete", "/vendors/#{product.vendor_id}/products/#{product.id}", method: "delete", data: { confirm: "Are you sure you want to delete this product?" } %>
      </td>
    </tr>
  <% end %>
</table>

<h2><%= @vendor.name %>'s Sales Data</h2>
  <%= link_to 'all time sales', vendor_sales_path(@vendor.id)  %>
  <%= link_to 'current month sales', "/vendors/#{@vendor.id}/sales/current_month"  %>
