<h1><%= @vendor.name %></h1>

<p>Number of Employees: <%= @vendor.employees %></p>
<p>Market: <%= @vendor.market.name %></p>

<p>Products:</p>

<table>
  <tbody>
    <% @vendor.products.each do |product| %>
      <tr>
        <td>• <%= product.name %></td>
        <td> *EDIT* </td>
        <td> *DELETE* </td>
        <td> *CREATE SALE* </td>
      </tr>
    <% end %>
  </tbody>
</table>




<p>COMING SOON: link_to Add A Product</p>






<p>Sales:</p>
<ul>
  <% @vendor.sales.each do |sale| %>
  <li>Date: <%= sale.purchase_time%>
    <br>Amount: $<%= sale.amount.to_f/100 %></li>
  <% end %>
</ul>

<p>Total Sales: $<%= @vendor.sales.sum(:amount).to_f/100 %></p>


<p>COMING SOON: Current Month Sales & Totals</p>
