<div>
  <h1>LOOK AT THIS HERE Vendor</h1>
  <h2> <%= @vendor.name %></h2>
    <p>
      Employees Number: <%= @vendor.employee_no %>
    </p>
    <h3>Products</h3>
    <ul>
      <% total = 0 %>
      <% @vendor.products.each do |product| %>
      <li>
        <%= product.name %>
        <ul>
          <% product.sales.each do |sale|%>
            <li><%= sale.amount %> | <%= sale.purchase_time %></li>
            <% total += sale.amount %>
        <% end %>
      </ul>
        <%= button_to "Delete", "/vendors/#{@vendor.id}/products/#{product.id}", method: :delete, data: { confirm: "Are you sure you want to delete #{product.name}?"} %>
      </li>
      <% end %>
      Total Sales: $<%= total/100.0 %>
    </ul>


<%= button_to "Delete", "/vendors/#{@vendor.id}", method: :delete, data: { confirm: "Are you sure you want to delete this vendor?"} %>
</div>
