<div class="pretend-nav">
  <div class="nav-position">
  <%= link_to "CREATE PRODUCT", new_vendor_product_path(@vendor) unless @market %>
  <%= link_to "EDIT", edit_vendor_path(@vendor) %>
  <%= link_to "DELETE VENDOR", market_vendor_path(@market, @vendor), method: :delete, onclick: "return confirm('Are you sure?')" if @market%>
  </div>
</div>

<h1><%= @vendor.name %></h1>

<h2>Products</h2>
<ul>
<% @vendor.products.each do |product| %>
  <li>
    <span><%= link_to product.name, vendor_product_path(@vendor, product) %></span>
  </li>
  <% product.sales.each do |sale| %>
    <div>
      <%= number_to_currency(in_dollars sale.amount) %>
    </div>
  <% end %>
<% end %>
<h3>Total sales: <%= number_to_currency(in_dollars @vendor.total_sales) %> </h3>
</ul>


<h2>Monthly Sales</h2>
<% @vendor.monthly_sales.each do |sale| %>
  <li>
    <%= number_to_currency(in_dollars sale.amount) %>
  </li>
<% end %>

<h3>Total monthly sales: <%= number_to_currency(in_dollars @vendor.total_monthly) %> </h3>
