<h1><%= @vendor.name %></h1>

<h2>Products</h2>

<table>
  <% @vendor.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= button_to 'Edit', edit_market_vendor_product_path(market_id: product.vendor.market_id, vendor_id: product.vendor.id, id: product.id ), method: :get %></td>
      <td><%= button_to 'Delete', market_vendor_product_path(market_id: product.vendor.market_id, vendor_id: product.vendor.id, id: product.id), method: :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Sales</h2>

<table>
  <% total_sales = 0 %>
  <% @vendor.products.each do |product| %>
    <% product.sales.each do |sale| %>
      <% total_sales += sale.amount %>
      <tr>
        <td>$<%= p '%.2f' % (sale.amount/100.0) %></td><td><%= sale.purchase_time.strftime("%D") %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td>Total: $<%= p '%.2f' % (total_sales/100.0) %></td>
  </tr>
</table>
