<h1><%= @vendor.name %></h1>

<p>Number of Employees: <%= @vendor.employees %></p>
<p>Market: <%= @vendor.market.name %></p>

<p>Products:</p>

<table>
  <tbody>
    <% @vendor.products.each do |product| %>
      <tr>
        <td>• <%= product.name %></td>
        <td> <%= link_to "Edit", edit_vendor_product_path(@vendor.id,product.id) %> </td>
        <td> *DELETE* </td>
        <td> *CREATE SALE* </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Add A New Product", new_vendor_product_path(@vendor) %>

<p>Sales:</p>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @vendor.sales.each do |sale| %>
      <tr>
        <td><%= sale.purchase_time%></td>
        <td>$ <%= sale.amount.to_f/100 %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>Total Sales: $<%= @vendor.sales.sum(:amount).to_f/100 %></p>


<p>COMING SOON: Current Month Sales & Totals</p>
