<div>
  <h1><%= @vendor.name %></h1>
  <h3>Stats:</h3>
  <p>
    Market: <%= @market.name %>, <%= @market.state %>
  </p>
  <p>
    Number of Employees: <%= @vendor.employee_no %>
  </p>
  <%= button_to "Delete Vendor", "/vendors/#{@vendor.id}", method: :delete, class: "btn btn-default", data: { confirm: "Are you sure you want to delete this vendor?"} %>
  <%= link_to "Edit Vendor", "/vendors/#{@vendor.id}/edit", class: "btn btn-default" %>

  <%= link_to "Sales for #{@vendor.name}", "/vendors/#{@vendor.id}/sales" %>

  <h2> All Products</h2>
  <table class="table table-hover">
    <tr >
      <th>
        Product
      </th>
    </tr>
    <% @vendor.products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to "Add a Product", "/vendors/#{@vendor.id}/products/new", class: "btn btn-default" %>



<%= link_to "Go back to list of vendors", "/vendors/", class: "btn btn-default" %>
</div>
