<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @market, url:({action: "#{@action}"}) do |f| %>
<legend> New Market </legend>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :address %>
<%= f.text_field :address %><br>
<%= f.label :city %>
<%= f.text_field :city %><br>
<%= f.label :state %>
<%= f.text_field :state %><br>
<%= f.label :county %>
<%= f.text_field :county %><br>
<%= f.label :zip %>
<%= f.text_field :zip %><br>
<%= f.submit class: "submit" %>
<% end %>
