<nav>
<a class="nav_link" href="/">Return Home | </a>
<a class="nav_link" href="/markets">View All Markets | </a>
<%= link_to "Back to Market Page", market_path(params[:id]), class: "nav_link" %>
</nav>

<fieldset>
  <%= form_for @market, url:{ action: @action } do |f| %>
    <legend><h1><%= @title %></h1></legend>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <br>
    <%= f.label :county %>
    <%= f.text_field :county %>
    <br>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <br>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
    <br>

    <%= f.submit :class => 'submit_button' %>
  <% end %>

</fieldset>
