<h1>Farmer's Market Homepage</h1>

<section>
  <%= form_tag mkt_home_path(:id), method: :get do %>
    <fieldset>
      <legend> Visit Market Homepage </legend>
      <%= collection_select(:market, :id, Market.all, :id, :name, prompt: "Select one:") %>
      <br>
      <%= submit_tag "Go to Market" %>
    </fieldset>
  <% end %>

  <%= form_tag v_home_path(:id), method: :get do %>
    <fieldset>
      <legend> Visit Vendor Homepage </legend>
      <%= collection_select(:vendor, :id, Vendor.all, :id, :name, prompt: "Select one:") %>
      <br>
      <%= submit_tag "View Vendor" %>
    </fieldset>
  <% end %>
</section>

<section>
  <%= form_tag market_path(:id), method: :get do %>
    <fieldset>
      <legend> View Market Details </legend>
      <%= collection_select(:market, :id, Market.all, :id, :name, prompt: "Select one:") %>
      <br>
      <%= submit_tag "View Market" %>
    </fieldset>
  <% end %>
  </section>

  <section>
    <%= link_to "View All Markets", markets_path %>
  </section>
