<h1>Farmer's Market Homepage</h1>

<section>
  <%= form_for @market, :method => :get, url: mkt_home_path(:id) do |f| %>
    <fieldset>
      <legend> Visit Market Homepage </legend>
      <%= f.collection_select(:id, Market.all, :id, :name, prompt: "Select one:") %>
      <br>
      <%= f.submit "Go to Market" %>
    </fieldset>
    <% end %>

  <%= form_for @vendor, :method => :get, url: v_home_path(:id) do |f| %>
    <fieldset>
      <legend> Visit Vendor Homepage </legend>
      <%= f.collection_select( :id, Vendor.all, :id, :name, prompt: "Select one:") %>
      <br>
      <%= f.submit "View Vendor" %>
    </fieldset>
    <% end %>
</section>

<section>
  <%= form_for @market, :method => :get, url: market_path(:id) do |f| %>
    <fieldset>
      <legend> View Market Details </legend>
      <%= f.collection_select(:id, Market.all, :id, :name, prompt: "Select one:") %>
      <br>
      <%= f.submit "View Market" %>
    </fieldset>
    <% end %>
  </section>

  <section>
    <%= link_to "View All Markets", markets_path %>
  </section>
