<h1> <%= @market.name %></h1>

<p><%= @market.address %></p>
<p><%= @market.city %></p>
<p><%= @market.state %></p>
<p><%= @market.county %></p>
<p><%= @market.zip %></p>

<h2>Vendors</h2>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Number of Employees
    </th>
  </tr>
  <% @vendors.each do |vendor| %>
    <tr>
      <td>
        <%= link_to "#{vendor.name}", home_vendor_path(vendor) %>
      </td>
      <td>
        <%= vendor.num_employees %>
      </td>
    </tr>
  <% end %>
</table>
