<div class="image-container">
  <img src="https://milkladymarkets.files.wordpress.com/2013/01/pic-berries-vegetables-at-market.jpg?w=1200" alt="farmers market" class="home-pg-image">
</div>

<div class="home-pg-header-container">
  <h1 class="home-pg-header">FARMERS MARKETS</h1>
  <p class="home-pg-sub-header">continue as a:</p>
</div>


<div class="button-container">
  <%= link_to(markets_path(user_type: 'market'), :class => "home-pg-button", :id => "market-button") do %>
    <hr />
    MARKET
    <hr />
  <% end %>

  <%= link_to(vendors_path(user_type: 'vendor'), :class => "home-pg-button", :id => "vendor-button") do %>
    <hr />
    VENDOR
    <hr />
  <% end %>

  <%= link_to(markets_path(user_type: 'guest'), :class => "home-pg-button", :id => "guest-button") do %>
    <hr />
    GUEST
    <hr />
  <% end %>

  <!-- <%= link_to "GUEST", markets_path(user_type: 'guest'), class: "home-pg-button", id: "guest-button" %> -->

</div>


<h2 class="pg-sub-header">
  All Markets
</h2>
<table class="guest_table">
  <% @markets.each do |market| %>
  <tr>
    <td><%= link_to market.name.titleize, market, class: "market-link" %></td>
  </tr>
  <% end %>
</table>
