<h1>Hi, Market!</h1>

<h1>Farmers Markets</h1>
<p>
<%= link_to "Create a Market", new_market_path %>
</p>
<table class="table">
  <% @markets.each do |market| %>
    <tr>
      <td>
        <%= link_to "#{market.name}", market_path(market) %>
      </td>
      <td>
        <%= market.city %>
      </td>
      <td>
        <%= market.state %>
      </td>
      <td>
        <%= link_to 'Edit', edit_market_path(market) %>
      </td>
   </tr>
   <% end %>
</table>
