<h1><%= @market.name %></h1>

<ul>
  <li>Address: <%= @market.address %></li>
  <li>City: <%= @market.city %></li>
  <li>County: <%= @market.county %></li>
  <li>State: <%= @market.state %></li>
  <li>Zip Code: <%= @market.zip %></li>
</ul>

<h3>Vendors:</h3>
<ul>
  <% @vendors.each do |vendor| %>
    <li><%= vendor.name%>
      <br><%= @delete_vendor%>
      <br><%= @edit_vendor%>
      <br><%= @create_vendor%></li>
  <% end %>
</ul>
