<div class="address">
  <h3><%= @market.name %></h3>
  <p><%= @market.address%></p>
  <p><%= @market.city%>, <%= @market.state%></p>
  <p><%= @market.county%> county <%= @market.zip%></p>
</div>

<div class="vendors">
  <h3>Vendors at <%= @market.name %></h3>
  <% if @im_a_market %>
  <%= link_to "Create new Vendor!", new_market_vendor_path(@market) %>
  <br>
  <br>
  <% end %>
  <table>
    <% @vendors.each do |v| %>
    <tr>
      <td>
        <%= v.name %>
      </td>
      <% if @im_a_market %>
        <td>
          <%= button_to "Edit", edit_market_vendor_path(market_id: v.market_id, id: v.id), method: :get %>
        </td>
        <% end %>
        <% if @im_a_market %>
        <td>
          <%= button_to "Delete", "/markets/#{v.market_id}/vendors/#{v.id}", method: "delete", data: { confirm: "Are you sure you want to delete this vendor?" } %>
        </td>
        <% end %>
      </tr>
      <% end %>
  </table>
</div>
