<h1><%= @market.name %></h1>

<ul>
  <li>Address: <%= @market.address %></li>
  <li>City: <%= @market.city %></li>
  <li>County: <%= @market.county %></li>
  <li>State: <%= @market.state %></li>
  <li>Zip Code: <%= @market.zip %></li>
</ul>
<% if @buttons == true %>
  <li><%=link_to "Edit this market", edit_market_path %></li>
  <li><%=link_to "Create a new vendor", new_vendor_path %></li>
<% end %>

<h3>Vendors:</h3>
<ul>
  <% @vendors.each do |vendor| %>
    <li><%= vendor.name%>
      <% if @buttons == true %>
      <%=link_to "Delete Vendor",vendor_path(vendor), method: :delete, data: {confirm: "Are you sure?"} %></li>
      <%=link_to "Edit Vendor", edit_vendor_path(vendor) %></li>
      <% end %>
  <% end %>
</ul>
