<h1>Market Details</h1>

<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @market.name %>
    </td>
  </tr>
  <tr>
    <td>
      Address
    </td>
    <td>
      <%= @market.address %>
    </td>
  </tr>
  <tr>
    <td>
      City
    </td>
    <td>
      <%= @market.city %>
    </td>
  </tr>
  <tr>
    <td>
      State
    </td>
    <td>
      <%= @market.state %>
    </td>
  </tr>
  <tr>
    <td>
      County
    </td>
    <td>
      <%= @market.county %>
    </td>
  </tr>
  <tr>
    <td>
      Zip
    </td>
    <td>
      <%= @market.zip %>
    </td>
  </tr>
</table>
