<h1><%= @market.name %></h1>

<h2>Who's sellin' stuff here?</h2>

<% if !@buttons %>
  <table>
    <% @market.vendors.each do |vendor| %>
      <tr>
        <td><%= link_to vendor.name, market_vendor_path(market_id: vendor.market_id, id: vendor.id ) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @buttons %>
  <table>
    <% @market.vendors.each do |vendor| %>
    <tr>
      <td><%= link_to vendor.name, market_vendor_path(market_id: vendor.market_id, id: vendor.id ) %></td>
      <td><%= button_to 'Edit', edit_market_vendor_path(market_id: vendor.market_id, id: vendor.id), method: :get %></td>
      <td><%= button_to 'Delete', market_vendor_path(market_id:vendor.market_id, id: vendor.id), method: :delete %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<%= button_to 'Return to Markets', market_path, method: :get %>