<div>
  <h1>LOOK AT THIS HERE MARKET</h1>
  <h2> <%= @market.name %></h2>
  <ul>
    <li>
      Address: <%= @market.address %>, <%= @market.city %>, <%= @market.state %> <%=@market.zip%>

    </li>
  </ul>
</div>
