<h1> <%= @market.name %></h1>

<p><%= @market.address %></p>
<p><%= @market.city %></p>
<p><%= @market.state %></p>
<p><%= @market.county %></p>
<p><%= @market.zip %></p>

<h2>Vendors</h2>
<p>
<%= link_to "Create a Vendor", new_market_vendor_path(market_id: @market.id) %>
</p>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Number of Employees
    </th>
  </tr>
  <% @vendors.each do |vendor| %>
    <tr>
      <td>
        <%= vendor.name %>
      </td>
      <td>
        <%= vendor.num_employees %>
      </td>
      <td>
        <%= link_to 'Edit', edit_market_vendor_path(id: vendor.id, market_id: @market.id) %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Create/delete vendor buttons</h2>
