<div class="container">
  <h1>LOOK AT THIS HERE MARKET</h1>
  <h2> <%= @market.name %></h2>
    <p>
      Address: <%= @market.address %>, <%= @market.city %>, <%= @market.state %> <%=@market.zip%>
    </p>
    <h3>Vendors</h3>
    <ul>
      <% @market.vendors.each do |vendor| %>
      <li>
        <%= vendor.name %>
      </li>
      <% end %>
    </ul>


<%= button_to "Delete", "/markets/#{@market.id}", method: :delete, data: { confirm: "Are you sure you want to delete this market?"} %>
</div>
