<div class="page-header">
  <h1 >Market Details</h1>
</div>

<table class='table table-hover table-responsive table-bordered'>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @market.name %>
    </td>
  </tr>
  <tr>
    <td>
      Address
    </td>
    <td>
      <%= @market.address %>
    </td>
  </tr>
  <tr>
    <td>
      City
    </td>
    <td>
      <%= @market.city %>
    </td>
  </tr>
  <tr>
    <td>
      State
    </td>
    <td>
      <%= @market.state %>
    </td>
  </tr>
  <tr>
    <td>
      County
    </td>
    <td>
      <%= @market.county %>
    </td>
  </tr>
  <tr>
    <td>
      Zip
    </td>
    <td>
      <%= @market.zip %>
    </td>
  </tr>
</table>
<%= button_to "Edit", edit_market_path(@market), method: :get %>

<%= link_to "View Market Vendors", "/markets/#{@market.id}/vendors" %>

<%= button_to "Delete", "/markets/#{@market.id}", method: :delete %>
