<h1 class='pg-header'><%= @market.name %></h1>
<div class='description'>
  <%= @market.address %> | <%= @market.city%> | <%= @market.county %> county | <%= @market.state %> | <%= @market.zip %>
</div>

<h2 class="pg-sub-header">Who's sellin' stuff here?</h2>

<% if @is_guest %>
  <table>
    <% @market.vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
      </tr>
    <% end %>
  </table>
  <div class="one_button_nav">
    <%= link_to 'Return to Markets', markets_path, class: 'larger_nav_button' %>
  </div>
<% end %>

<% if @is_vendor %>
  <table>
    <% @market.vendors.each do |vendor| %>
      <tr>
        <td><%= link_to vendor.name, market_vendor_path(market_id: vendor.market_id, id: vendor.id ) %></td>
      </tr>
    <% end %>
  </table>
  <div class="one_button_nav">
    <%= link_to 'Return to Markets', markets_path, class: 'larger_nav_button' %>
  </div>
<% end %>

<% if @is_market %>
  <table>
    <% @market.vendors.each do |vendor| %>
    <tr>
      <td><%= vendor.name %></td>
      <td><%= button_to 'Edit', edit_market_vendor_path(market_id: vendor.market_id, id: vendor.id), method: :get, class: 'table_button' %></td>
      <td><%= button_to 'Delete', market_vendor_path(market_id:vendor.market_id, id: vendor.id), method: :delete, class: 'table_button' %></td>
    </tr>
    <% end %>
  </table>
  <div class="two_larger_button_nav">
    <%= link_to 'Return to Markets', markets_path, class: 'larger_nav_button' %>
    <%= link_to 'Create a Vendor', new_market_vendor_path(market_id: @market.id), class: 'larger_nav_button' %>
  </div>
<% end %>




