<h1><%= @market.name %></h1>

<ul>
  <li>Address: <%= @market.address %></li>
  <li>City: <%= @market.city %></li>
  <li>County: <%= @market.county %></li>
  <li>State: <%= @market.state %></li>
  <li>Zip Code: <%= @market.zip %></li>
</ul>
