<nav>
<a class="nav_link" href="/">Return Home</a>
</nav>

<h1>Market Detail</h1>

<h3><%= @market.name %></h3>

<p>Located at:
<br>
<%= @market.address %>
<br>
<%= @market.city %> in <%= @market.county %> County
<br>
<%= @market.state %>, <%= @market.zip %>
</p>

<h3>Vendors at <%= @market.name %>:</h3>

<ul>

  <% @vendors.each do |vendor| %>
    <li><%= vendor.name %></li>
  <% end %>

</ul>
