<div>
  <%=  form_for :product, url: url, method: method, :html => {class: 'product_form', id:'product_wider'} do |f| %>
  <div class='legend'><h1 class='pg-header'><%= form_title %></h1></div>
    <fieldset class='product_form'>
      <%= f.label :name %>:
      <%= f.text_field :name %><br>
      <%= hidden_field_tag :vendor_id, params[:vendor_id] %>
    </fieldset>
    <%= f.submit class: 'form-button' %>
  <% end %><br><br>
  </div>
</div>

