<%=  form_for :vendor, url: url, method: method, :html => {class: 'vendor_form'} do |f| %>
<div class='legend'><h1 class='pg-header'><%= form_title %></h1></div>
  <fieldset class='vendor_field'>
    <%= f.label :name %>:<br>
    <%= f.text_field :name, class: 'text' %><br>
    <%= f.label :num_emps, 'Number of Employees' %>:<br>
    <%= f.text_field :num_emps, class: 'text' %><br>
    <%= hidden_field_tag :market_id, params[:market_id] %>
  </fieldset>
  <%= f.submit 'submit', class: 'form-button' %><br><br>
<% end %>
