<section>
  <%= form_for @new_vendor_product, url: {action: "create"} do |f| %>
    <fieldset>
      <legend>New Product</legend>
      <div>
        <%= f.label :name, "name"%>
        <%= f.text_field :name %><br />
      </div>
      <div>
        <%= f.submit %>
      </div>
    </fieldset>
  <% end %>

  <nav>
    <%= link_to "Back to Vendor", vendor_path(params[:vendor_id]) %>
    <%= link_to "Back to all Vendors", vendors_path %>
  </nav>
</section>
