<nav>
<a class="nav_link" href="/">Return Home | </a>
<a class="nav_link" href="/vendors">View All Vendors | </a>
<%= link_to "Back to Vendor Page", vendor_path(params[:vendor_id]), class: "nav_link" %>
</nav>

<h1>Create a new product</h1>
<fieldset>
  <%= form_for @product, url: {action: :create} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :vendor_id, value: params[:vendor_id] %>
  <%= f.submit %>

  <% end %>
</fieldset>
