<div class="sub-header">
  <h3>Current Month's Sales for <%= @vendor.name %></h3>
</div>
<% total_sales = [] %>
<% time_marker_month = Time.now.month %>
<% time_marker_year = Time.now.year %>
<table>
  <% @sales.each do |s| %>
    <% if s.purchase_time.month == time_marker_month && s.purchase_time.year == time_marker_year %>
      <% total_sales.push(s.amount) %>
      <tr>
        <td>
          $<%= p '%.2f' % (s.amount/100.0) %>
        </td>
        <td>
          <%= s.purchase_time.strftime("%D") %>
        </td>
      </tr>
    <% end %>
  <% end %>
      <tr>
        <td colspan="2">
          <% if total_sales.length == 0 %>
            No sales were made this month.
          <% else %>
            Current Month's Total Sales for <%= @vendor.name %>: $<%= p '%.2f' % (total_sales.inject(:+)/100.00) %>
            Total: $<%= p '%.2f' %    (total_sales.inject(:+)/100.00) %>
          <% end %>
        </td>
      </tr>
</table>
