<h1>Sales for <%= @vendor.name %></h1>
<h3>Number of sales: <%= @sales.length %></h2>
<h3>Total sales: $<%= @total_sales %></h2>
<h3><%= link_to "current month sales", current_month_vendor_sales_path %></h3>

<h1>Sales</h1>
<table>
  <% @sales.each do |sale| %>
    <tr>
      <td>
        <%= sale.product.name %>
      </td>
      <td>
        $<%= sprintf('%.2f', sale.amount.to_f / 100) %>
      </td>
      <td>
        <%= sale.purchase_time.strftime("%I:%M %p on %m/%d/%Y") %>
      </td>
   </tr>
   <% end %>
</table>

<p>
  <%= link_to "Add a new sale", new_vendor_sale_path(:vendor_id => @vendor.id) %>
</p>
