<h2>Here are the sales:</h2>

<%= button_to "New Sale", new_vendor_sale_path, method: :get %>

<ul>
  <% count = 0 %>
  <% @sales.each do |sale| %>
    <li>
      <%= @product_names[count] %>:<%= sale.amount %>,
      <%= sale.purchase_time %>
    </li>
    <% count += 1 %>
  <% end %>
</ul>

<p>
  The sale total is <%= @total %>
</p>
