<h2>Here are the sales:</h2>
<div class="sign-in-button">
<%= button_to "New Sale", new_vendor_sale_path, method: :get, class: "btn btn-default" %>
</div>
<table>
  <% count = 0 %>
  <% @sales.each do |sale| %>
  <tr>
    <td><%= @product_names[count] %></td>
    <td><%= number_to_currency(sale.amount/100.0) %></td>
    <td><%= sale.purchase_time.localtime.strftime("%A, %B %e, %Y @ %m:%M %p") %></td>
    <% count += 1 %>
  </tr>
  <% end %>
</table>

<p>
  The sale total is <%= number_to_currency(@total/100.0) %>
</p>
<ul>
  <%  %>
  <% month_count = 0 %>
  The sales for this month are:
  <% @sales_month.each do |sale| %>
  <li>
  <%= @monthly_product_names[month_count] %>: <%= number_to_currency(sale.amount/100.0) %>,
  <%= sale.purchase_time.localtime.strftime("%A, %B %e, %Y @ %m:%M %p") %>
  </li>
  <% month_count += 1 %>
  <% end %>
</ul>

<p>
  The total sales for the month is <%= number_to_currency(@monthly_total/100.0) %>
</p>
