<div>
  <h1><%= @vendor.name %> Sales</h1>
  <div class="container">
    <table class="table table-bordered">
      <tr >
        <th>
          PRODUCT NAME
        </th>
        <th>
          SALE
        </th>
        <th>
          DATE
        </th>
      </tr>
        <% total = 0 %>
        <% @vendor.products.each do |product| %>
          <% product.sales.length.times do |i| %>
          <% sale = product.sales[i] %>
          <% if i == 0 %><tr class="table-division" > <% else %> <tr> <% end %>
          <td>
            <% if i == 0 %>
            <%= product.name %><%= button_to "Delete", "/vendors/#{@vendor.id}/products/#{product.id}", method: :delete, class: "btn btn-default", data: { confirm: "Are you sure you want to delete #{product.name}?"} %>
            <% end %>
          </td>
           <td>
             <%= number_to_currency(sale.amount/100) %>
             <% total += sale.amount %>
           </td>
           <td>
             <%= sale.purchase_time.strftime("%B %d, %Y") %></li>
           </td>
       </tr>
         <% end %>
      <% end %>
      <tr class="table-division">
        <td>
          Total Sales:
        </td>
        <td>
          <%= number_to_currency(total/100) %>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <h2>Data for This Month</h2>
  <div class="container">
    <table class="table table-bordered">
      <tr >
        <th>
          PRODUCT NAME
        </th>
        <th>
          SALE
        </th>
        <th>
          DATE
        </th>
      </tr>
        <% total = 0 %>
        <% @vendor.products.each do |product| %>
          <% first = true %>
          <% product.sales.each do |sale| %>
          <% if sale.purchase_time.month == DateTime.now.month && sale.purchase_time.year == DateTime.now.year %>
          <% if first %> <tr class="table-division" > <% else %> <tr> <% end %>
          <td>
            <% if first %>
            <%= product.name %><%= button_to "Delete", "/vendors/#{@vendor.id}/products/#{product.id}", method: :delete, class: "btn btn-default", data: { confirm: "Are you sure you want to delete #{product.name}?"} %>
            <% first = false %> <% end %>
          </td>
           <td>
             <%= number_to_currency(sale.amount/100) %>
             <% total += sale.amount %>
           </td>
           <td>
             <%= sale.purchase_time.strftime("%B %d, %Y") %></li>
           </td>
       </tr>
       <%end %>
         <% end %>
      <% end %>
      <tr class="table-division">
        <td>
          Total Sales:
        </td>
        <td>
          <%= number_to_currency(total/100) %>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>
</div>
