<h2>Here are the sales:</h2>

<%= button_to "New Sale", new_vendor_sale_path, method: :get %>

<ul>
  <% count = 0 %>
  <% @sales.each do |sale| %>
    <li>
      <%= @product_names[count] %>:<%= sale.amount %>,
      <%= sale.purchase_time %>
    </li>
    <% count += 1 %>
  <% end %>
</ul>

<p>
  The sale total is <%= @total %>
</p>
<ul>
  <% @sales_month = Vendor.find(@vendor_id).monthly_sales %>
  <% month_count = 0 %>
  The sales for this month are:
  <% @sales_month.each do |sale| %>
  <li>
  <%= sale.amount %>, <%= sale.purchase_time %>
  </li>
  <% month_count += 1 %>
  <% end %>
</ul>
