<div class="sub-header">
  <h1>Sale for <%= @product.name %> from <%= @vendor.name %></h1>
</div>
<%= form_for [@vendor, @product, @sale] do |f| %>
  <%= f.label :amount, 'USD $' %>
  <%= f.number_field :amount, :value => 0, :min => 0, :step => 0.01 %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
