<%=  form_for :sale, url: product_sales_path do |f| %>
<div class='legend'><h1>Add a Sale</h1></div>
  <fieldset>
    <%= f.label :amount %>:
    <%= f.text_field :amount %><br>
    <%= hidden_field_tag :purchase_time, Time.now %>
    <%= hidden_field_tag :product_id, params[:product_id] %>
  </fieldset>
  <%= f.submit %>
<% end %>