<div class='nav-two-links'>
  <%= link_to 'home', '/', class: 'top-nav-button' %>
  <%= link_to 'return to vendor', vendor_path(id: Product.find(params[:product_id]).vendor_id), method: :get, class: "top-nav-button" %>
</div>

<hr class="nav-hr" />

<%=  form_for :sale, url: product_sales_path do |f| %>
<div class='legend'><h1 class="pg-header">add a sale</h1><p>
  Product: <%= @product.name %>
</p></div>
  <fieldset class="sale-form">
    <%= f.label :amount, "Amount: $" %>:
    <%= f.number_field :amount, :value => 0, :min => 0, :step => 0.01 %><br>
    <%= hidden_field_tag :purchase_time, Time.now %>
    <%= hidden_field_tag :product_id, params[:product_id] %>
  </fieldset>
  <%= f.submit "submit", class: "form-button" %>
<% end %>
