<%=  form_for :sale, url: new_product_sale_path do |f| %>
<div class='legend'><h1>Add a Sale</h1></div>
  <fieldset>
    <%= f.label :amount %>:
    <%= f.text_field :amount %><br>
    <%= f.label :purchase_time, 'Number of Employees' %>:
    <%= f.text_field :purchase_time %><br>
  </fieldset>
  <%= f.submit %>
<% end %>