<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= content_for :body_class %>">
  <header class="<%= content_for :header_class %>" >
  </header>


<%= yield %>
  <footer class= "<%= content_for :footer_class %>">
  </footer>

</body>
</html>
